.place__title {
    font-style: normal;
    font-weight: 900;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    grid-area: title;
}

@media screen and (min-width: 1024px) {
    .place__title {
        font-size: 72px;
        line-height: 76px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        width: 288px;
        margin-left: 16px;
    }
}

@media screen and (max-width: 424px) {
    .place__title {
        font-size: 32px;
        line-height: 75px;
        margin-left: 16px;
    }
}