.cover__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    opacity: 1;
    z-index: 11;
}

@media screen and (min-width: 1280px) {
    .cover__subtitle {
        width: 360px;
        font-size: 18px;
        line-height: 22px;
        margin-top: 32px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__subtitle {
        width: 360px;
        font-size: 18px;
        line-height: 22px;
        margin-top: 32px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__subtitle {
        width: 360px;
        font-size: 18px;
        line-height: 22px;
        margin-top: 32px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .cover__subtitle {
        width: 288px;
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
     }
}

@media screen and (max-width: 424px) {
    .cover__subtitle {
        width: 288px;
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
    }
}