.header__logo {
    background-image: url(../../../images/header-logo.svg);
    background-size: cover;
    width: 176px;
    height: 52px;

}

@media screen and (max-width: 768px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}