.footer__links {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}

@media screen and (min-width: 768px) {
    .footer__links {
        flex-direction: row;
    }
}

@media screen and (max-width: 767px) {
    .footer__links {
        flex-direction: column;
    }
}