.footer__copyright {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    text-align: right;
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .footer__copyright {
        text-align: left;
        margin-top: 16px;
    }
}

@media screen and (max-width: 424px) {
    .footer__copyright {
        text-align: left;
        margin-top: 16px;
    }
}