.lead__subtitle {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    width: 640px;
    height: 72px;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 64px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        width: 288px;
        height: 40px;
    }
}