@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);

.cover {
    margin-top: 92px;
    text-align: center;
}


@media screen and (min-width: 1280px) {
    .cover {
        width: 1184px;
        margin: auto;
        margin-top: 92px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .cover {
        width: 980px;
        margin: auto;
        margin-top: 92px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover {
        width: 100%;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .cover {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .cover {
        width: 100%;
    }
}
