@import url(./__image/place__image.css);
@import url(./__link/place__link.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place_url-heading.css);
@import url(./__website/place__website.css);
@import url(./__text/place__text.css);

.place {
    display: grid;
    margin: auto;
}

@media screen and (min-width: 1280px) {
    .place {
        max-width: 984px;
        grid-template-areas: 'title website'
                             'image text';
        grid-template-columns: 460px auto;
        grid-template-rows: auto auto;
        grid-gap: 48px 40px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place {
        max-width: 928px;
        grid-template-areas: 'title website'
                             'image text';
        grid-template-columns: 460px auto;
        grid-template-rows: auto auto;
        grid-gap: 48px 38px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place {
        max-width: 720px;
        grid-template-areas: 'title website'
                             'image text';
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-gap: 48px 28px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .place {
        max-width: 425px;
        grid-template-areas: 'title' 
                             'image'
                             'text'
                             'website';
        grid-template-rows: auto auto auto auto;
        grid-gap: 32px;
    }
}

@media screen and (max-width: 424px) {
    .place {
        max-width: 320px;
        grid-template-areas: 'title' 
                             'image' 
                             'text'
                             'website';
        grid-template-rows: auto auto auto auto;
        grid-gap: 32px;
    }
}